@{
    ViewBag.Title = "Home Page";
}


  
<h1>410954514陳立恆</h1><br />
<h2><i>資傳二B</i></h2>
<p> test</p>

<a herf="https://www.google.com/webhp?hl=zh-TW&sa=X&ved=0ahUKEwinqvCn0bb3AhWQdd4KHbrgBLAQPAgI">about</a>